<?php

lib_include( 'php_microformats' );

global $request;

$i = array(
  
	'url' 	=> $Member->url,
	'name' 		=> $Member->given_name . " " . $Member->family_name,
	'email' 	=> $Member->email_value,
	'org' 		=> array(
		'name' 		=> $Member->organization_name,
		'title' 	=> $Member->title
	),

	'location'	=> array (
		'street'	=>$Member->street_address,
		'town'		=> $Member->locality,
		'zip'		=> $Member->postal_code,
		'state'		=> $Member->region,
		'country'	=> $Member->country_name	
	),	

	'phone'		=> array(
		'home'		=> $Member->tel_value,
		'cell'		=> ''	
	),

	'photo'		=> $request->url_for( array( 'resource'=>'identities', 'id'=>$Member->id, 'action'=>'photo.jpg' )),
		
	'im'		=> array(
		'skype'		=> '',
		'aim'		=> ''
	)
	
);

echo phpMicroformats::createHCard( $i );

?>